.card1 {
  height: 310px;
  background-color: #FEFEFE;
  padding: 5px;
  font-family: Helvetica;
  box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.3);
  width: 100%;
}

.card__img {
  display: inline-block;
}

.card__content {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: calc(100% - 260px);
  height: 300px;
  padding-left: 15px;
}

.card__content h3 {
  margin: 0;
}

.card__rating {
  position: absolute;
  bottom: 0;
}


.card__stars--active {
  color: gold;
}
.card__stars--inactive {
  color: #CCCCCC;
}